doctype html
html(lang="es")
	head
		title= title

		link(rel="stylesheet", href="/css/bulma.css")
		link(rel='stylesheet'  href='/css/main.css')
		link(rel='stylesheet' href='/css/form.css')
		script(src="/js/nav.js")
	
	body
		nav.navbar.is-success(role='navigation', aria-label='main navigation')
			.navbar-brand
				a.navbar-burger.burger(role='button', aria-label='menu', aria-expanded='false', data-target='navbarBasicExample')
					span(aria-hidden='true')
					span(aria-hidden='true')
					span(aria-hidden='true')
			.navbar-menu
				.navbar-start
					a.navbar-item( href="/")
						| Inicio
					a.navbar-item( href="/users/servers")
						| Servidores
					a.navbar-item( href="/users/estadisticas")
						| Estadisticas
				.navbar-end
					if logged
						.navbar-item.has-dropdown.is-hoverable
							a.navbar-link
								| Perfil
							.navbar-dropdown
								a.navbar-item( href="/users/perfil")
									| Pefil
								hr.navbar-divider
								a.navbar-item( href="/logout")
									| Salir
					else
						.navbar-item
						.buttons
							a.button.is-primary( href="/registrar")
								strong Registrar
							a.button.is-light( href="/login")
								| iniciar sesion
					
.container.is-fullhd
	block content

	