extends layout
block content
	form(method='POST' action='/login' class='form-create')

		.field
			label(for='email' class='label') Correo electronico:
				.control
					input.input(type='email' id='email' name='email' required placeholder='Escriba su email'  )

		.field
			label(for='password' class='label' onkeyup='validarContenido(this.value)') Contraseña
				.control
					input.input(type='password' id='password' name='password' required placeholder='Escriba su contraseña' )

		.field
			.control
					input.input(type='submit' value='Enviar' class='button')


	p(align='center')
		| Disponibilidad de #[span(id='correo')]
	p(align='center' id='disponible')