extends layout
block content
	form(method='POST' action='/crear-usuario' class='form-create')
		.field
			label(for='nombre'  class='label') Nombre:
			.control
				input.input(type='text' id='nombre' name='nombre' required placeholder='Nombre' )
		.field
			label(for='apellido' class='label') Apellido:
			.control
				input.input(type='text' id='apellido' name='apellido' required placeholder='apellido' )

		.field
			label(for='nacimiento'  class='label') Fecha de Nacimiento:
			.control
				input.input(type='date' id='nacimiento' name='nacimiento' required placeholder='' )
		
		.field
			label(for='email' class='label') Correo electronico:
			.control
				input.input(type='email' id='email' name='email' required placeholder='Escriba su email'  onkeyup='validateEmail(this.value)')

		.field
			label(for='password' class='label' onkeyup='validarContenido(this.value)') Contrase単a
			.control
				input.input(type='password' id='password' name='password' required placeholder='Escriba su contrase単a')

		.field
			label(for='password2' class='label' onkeyup='validarPassword(this.value)') Repita su contrase単a
			.control
				input.input(type='password' id='password2' name='password2' required placeholder='Escriba su contrase単a' class='input-form')

		.field
			.control
				input.input.is-primary(type='submit' value='Enviar' class='button')
		br
		a(href='/login')


	p(align='center')
		| Disponibilidad de #[span(id='correo')]
	p(align='center' id='disponible')
	p(align='center') 
		a(href="/login") ya tengo cuenta 
	script(type='text/javascript', src='/js/test.js')